#ssml-green-logo img {
  display: block;
  height: 36px;
  margin-top: -6px;
}

.ssml-title {
  font-size: 20px;
  margin-top: 12px;
  color: #fff;
}

#more {
  /*margin-right: 10px;*/
  margin-top:10px;  
  margin-left:14px;
}

/*#more img {
  height: 28px;
  margin-right: 6px;
}*/

#more svg {
  height: 32px;
  /*margin-right: 6px;*/
}


#more a {
  vertical-align: middle;
  color: #fff;
}

.navbar-header {
  width: 100%;
}

/*.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}*/

.spacer {
  height: 54px;
}

.platform-header {
    text-align: center;
    /*background-color: #555;*/
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;    
}

.platform-header+.platform-header {
    border-left: 0;
}

.platform-header-text {
    /*padding-top: 4px;*/
    background-color: #555;
}

.platform-header a {
  font-size: 14px;
  vertical-align: middle;
  white-space: normal;
  color: #fff;
}

.check-value {
  font-size: 16px;
  vertical-align: middle;
  text-indent: 10px;
  line-height: 32px;
  color: #777;
  /*text-align: center;*/
}

.check-value-text {
  padding: 6px;
  text-align: center;
  margin: 2px;
}

.octicon {
    vertical-align: text-bottom;
    display: inline-block;
    fill: currentColor;
}

.header-logo-invertocat .octicon-mark-github {
    float: left;
}

.section1 {
  font-size: 16px;
  /*font-weight: bold;*/
  background-color: #ddd;
  border-color: #777;
  line-height: 36px;
  text-indent: 10px;
  margin-top: 20px;
}

.section2 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px;
  text-indent: 10px;
  color: #337ab7;
}

.version-header {
    color: #fff;
    background-color: #337ab7;
    font-size:18px;
    font-weight: normal;
    padding: 10px;
    margin-bottom: -40px;    
}

.version-header a {
  color: #fff;
}

.info-icon {
  margin-top: 10px;
  color: #777;
}

.info-icon:hover {
  color: #337ab7;
}

.popover{
    max-width:600px;
}

.code {
    white-space: pre;
    margin: 0 15px;
}

.version-icon {
  margin-right: 16px;  
}

.panel-description {
  font-size: 14px;
  margin-left: 10px;
}

/*.ssml-amazon-alexa {
  background-color: #0066c0;
}*/

/*.ssml-amazon-alexa a {
  color: #fff;
}*/

.ssml-google-home {
  background-color:#3B78E7;
}

/*.ssml-google-home a {
  color: #fff;
}*/

.ssml-microsoft-cortana {
  background-color: #00AEEF;
}

/*.ssml-microsoft-cortana a {
  color: #fff;
}*/

.ssml-ibm-watson {
  background-color: #008571;
}

/*.ssml-ibm-watson a {
  color: #fff;
}*/

.ssml-amazon-alexa, .ssml-amazon-polly {
  background-color: #e47911;
}

/*.ssml-amazon-polly a {
  color: #fff;
}*/

.ssml-blank {
  background-color: #333;
}


.ssml-yes {
  background-color: #026e00;
  color: #fff;
}

.ssml-no {
  background-color: #dd0000;
  color: #fff;
}


